body{
  margin:0px;
  padding:0px;
  font-family:"NANUMSQUAREROUNDEB.TTF";
  font-size:13pt;
  color:white;
}
center{
  background-color:rgba(0, 0, 0, 0.6); 
  position: absolute; 
}
#intro{
  text-align:center;
}
#bgImg{
  width:100vw;
  height:100vw*(1152/1738)px;
  overflow:scroll;
  position:relative;
  z-index:-1;
}
p{
  margin:0;
}
#coding{
  color:wheat;
}
h4{
  font-size:30pt;
  position:absolute;
  margin-top:560px;
  margin-left:630px;
}
h2{
  font-size:50pt;
  position:absolute;
  margin-top:460px;
  margin-left:682px;
}
::-webkit-scrollbar{
  display:none;
}
.banner {
  border:5px solid wheat;
  margin: 0; padding: 0;
  list-style: none;
  position: fixed;
  width: 99.4vw;
}
.banner>li#mypage{
  margin-left:20px;
  float:left;
}
.banner>li#puzzle{
  margin-left:20px;
  float:left;
}
.banner>li#lecture{
  margin-left:20px;
  float:left;
}
.banner>li#findpw{
  margin-right:20px;
  float:right;
}
.banner>li#login{
  margin-right:20px;
  float:right;
}
.banner>li#logout{
  margin-right:20px;
  float:right;
}
.banner>li#signup{
  margin-right:20px;
  float:right;
}
.banner>li {
  display: inline-block;
  border: 2.5px solid transparent;
  padding-left:5px;
  padding-right:5px;

}
.banner>li>a {
  display: block;
  text-decoration: none;
  color:white;
  font-weight:bold;
  height:60px;
  line-height:60px;
}
/*상단 네비게이션 바 css*/

/* 팝업 로그인 창 css*/
h1{
  font-size: 30px; 
  color: #9999; 
  margin-block-start:0;
  margin-block-end:0;
  margin-top:25px;
} 
label {
  display: block; 
  margin-top: 20px; 
  letter-spacing: 2px; 
}
form {
  margin: 0 auto; 
  width: 459px; 
} 
input{ 
  width: 439px; 
  height: 35px; 
  background-color: white; 
  border-radius: 7px; 
  border: 2px solid wheat; 
  padding:4px;
  margin-top: 4px; 
  font-size: 0.9em; 
  color: #9999;
  font-weight:bold;
}
.modal_1, .modal_2, .modal_3 { 
  position: fixed;
  z-index:3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0; 
  visibility: hidden;
  transform: scale(1.0); 
  transition: visibility 0s linear 0.6s, opacity 0.6s 0s, transform 0.6s;
}
.modal-content_1, .modal-content_2, .modal-content_3 { 
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: wheat;
  padding: 1rem 1.5rem; 
  width: 500px; 
  height: 350px;
  border-radius: 0.5rem;
  overflow:scroll;
}
.modal-content_1{
  height:300px;
}
.modal-content_3{
  height:200px;
}
#login-submit{
  margin-top:35px;
  margin-bottom:5px;
  width: 439px;
  font-weight:bold;
}
.close-button_1, .close-button_2, .close-button_3 { 
  float: right;
  width: 1.5rem; 
  line-height: 1.5rem; 
  text-align: center; 
  cursor: pointer; 
  border-radius: 0.25rem; 
  background-color: wheat; 
} 
.close-button_1:hover, .close-button_2:hover, .close-button_3:hover { 
  background-color: white;
  color:wheat; 
} 
.show-modal {
  opacity: 1;
  visibility: visible; 
  transform: scale(1.0); 
  transition: visibility 0s linear 0s, opacity 0.6s 0s, transform 0.6s; 
}
.login-help>#findpwLink{
  text-decoration:none !important;
  color:#9999;
  font-weight:bold;
}
.login-help{
  color:#9999;
}
.login-help>#signupLink{
  text-decoration:none !important;
  color:#9999;
  font-weight:bold;
}
.login-help>#loginLink{
  text-decoration:none !important;
  color:#9999;
  font-weight:bold;
}
::placeholder{
  color:#9999;
}
/*------------ 레이어 팝업 로그인창 css 끝---------*/

#footer{
  position:absolute;
  font-size:30px;
  margin-top:1100px;
  margin-left:580px;
  margin-block:0;
}