<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/lecture.css" media="all" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>코딩 월드 :: 공부 자료</title>
</head>
<body>
    <center>
        <nav role="navigation">
            <ul id="main-menu">
                <li><a href="/">Main</a></li>
                <li><a href="#">Program</a>
                    <ul id="sub-menu">
                        <li><a href="#" aria-label="subemnu">C</a></li>
                        <li><a href="#" aria-label="subemnu">C++</a></li>
                        <li><a href="#" aria-label="subemnu">Java</a></li>
                        <li><a href="#" aria-label="subemnu">Python</a></li>
                    </ul>
                </li>
                <li><a href="#">Web</a>
                    <ul id="sub-menu">
                        <li><a href="#" aria-label="subemnu">HTML</a></li>
                        <li><a href="#" aria-label="subemnu">CSS</a></li>
                        <li><a href="#" aria-label="subemnu">JavaScript</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <section>
            <h2>Information</h2>
            <p>이 페이지에선 수 많은 프로그래밍 언어들의 개념들과 외부 강의 영상을 제공해 주는 곳입니다. 
            </p>
        </section>
        <img id="bgImg" src="images/coding1.jpg" alt="">
    </center>
</body>
</html>