<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/lecture-much.css" media="all" type="text/css" />
    <title>코딩 월드 :: 공부 자료</title>
</head>

<body>
    <div>
        <h1>C++</h1>
        <p>
            C++은 1980년대 비야네 스트롭스트룹(Bjarne Stroustrup)에 의해 개발되었다.(초창기 이름은 C with Classes) C++은 C 문법에 OOP 개념과 일반화 프로그래밍을 위한 템플릿(STL
            지원) 기능이 추가되었다. 또한 C++은 개발자로 하여금 많은 것을 할 수 있게 만들었다. 그만큼 개발자의 역량에 따라 좋은 코드가 작성 되기도 하고 질 나쁜 코드가 작성될 여지가 많다.
        </p>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/7BGzAxQ96ms" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>

</html>