<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/lecture-much.css" media="all" type="text/css" />
    <title>코딩 월드 :: 공부 자료</title>
</head>
<body>
    <div>
        <h1>C</h1>
        <p>
            C언어란 프로그래밍 언어로서 1972년 켄 톰슨과 데니스 리치가 벨연구소에서 일할 당시 새로 개발된 유닉스 운영 체제에 사용하기 위해 B언어를 만들었으며 데니스 리치가 이것을 개조하여 C언어가 만들어 졌다.
        </p>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/dh4hdtZ00EU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>