<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/lecture-much.css" media="all" type="text/css" />
    <title>코딩 월드 :: 공부 자료</title>
</head>

<body>
    <div>
        <h1>HTML</h1>
        <p>
            HTML은 하이퍼텍스트 마크업 언어라는 의미의 웹 페이지를 위한 지배적인 마크업 언어다. HTML은 제목, 단락, 목록 등과 같은 본문을 위한 구조적 의미를 나타내는 것뿐만 아니라 링크, 인용과 그 밖의 항목으로
            구조적 문서를 만들 수 있는 방법을 제공한다.
        </p>
        <iframe width="1280" height="720"
            src="https://www.youtube.com/embed/OGFgdro160I?list=PLuHgQVnccGMDUzDDCKW-pCZQY-MMCX5yB" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>

</html>