<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/lecture-much.css" media="all" type="text/css" />
    <title>코딩 월드 :: 공부 자료</title>
</head>

<body>
    <div>
        <h1>Java</h1>
        <p>
            자바는 썬 마이크로시스템즈의 제임스 고슬링과 다른 연구원들이 개발한 객체 지향적 프로그래밍 언어이다. 1991년 그린 프로젝트라는 이름으로 시작해 1995년에 발표했다.
        </p>
        <iframe width="1280" height="720"
            src="https://www.youtube.com/embed/wjLwmWyItWI?list=PLRx0vPvlEmdBjfCADjCc41aD4G0bmdl4R" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>

</html>