<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/lecture-much.css" media="all" type="text/css" />
    <title>코딩 월드 :: 공부 자료</title>
</head>

<body>
    <div>
        <h1>Python</h1>
        <p>
            파이썬은 1991년 프로그래머인 귀도 반 로섬이 발표한 고급 프로그래밍 언어로, 플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑 대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty
            Python's Flying Circus〉에서 따온 것이다.
        </p>
        <iframe width="1280" height="720"
            src="https://www.youtube.com/embed/EyAHKYqrEe8?list=PLBHVuYlKEkUJvRVv9_je9j3BpHwGHSZHz" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>

</html>